In [12]:
##################################################
## This work is about obtaining some insights from the data set of Johns Hopkins University COVID-19 tracking project.
## The data can be found on this link: https://data.world/associatedpress/johns-hopkins-coronavirus-case-tracker
## The data was accessed on the date: 6th of August, 2020.
## Credit to "Johns Hopkins University COVID-19 tracking project".
##################################################
## Author: Efe Buyuk
## Credits: Johns Hopkins University COVID-19 tracking project
## Version: 1.0.0
## Maintainer: Efe Buyuk
## Status: Dev
##################################################

In [1]:
import pandas as pd

# save filepaths to variables for easier access
county_level_confirmed_cases_file_path = "datasets/1_county_level_confirmed_cases.csv"
cases_and_deaths_by_county_file_path = "datasets/2_cases_and_deaths_by_county_timeseries.csv"
cases_and_deaths_by_state_file_path = "datasets/3_cases_and_deaths_by_state_timeseries.csv"


# read the data and store data in DataFrames
country_level_data = pd.read_csv(county_level_confirmed_cases_file_path)
cases_and_deaths_by_county_data = pd.read_csv(cases_and_deaths_by_county_file_path)
cases_and_deaths_by_state_data = pd.read_csv(cases_and_deaths_by_state_file_path)


# print a summary of the data in County Level Confirmed Cases
country_level_data.describe()

,fips_code,lat,lon,total_population,confirmed,confirmed_per_100000,deaths,deaths_per_100000
count,3239.000000,3188.000000,3188.000000,3.180000e+03,3249.000000,3180.000000,3249.000000,3180.000000
mean,32352.570855,37.927155,-91.486168,1.023269e+05,1484.399508,1034.252918,48.701754,24.322091
std,17845.649909,6.073878,13.191672,3.530531e+05,7539.089999,1041.812282,459.310683,38.450354
min,1001.000000,17.982429,-174.159600,1.020000e+02,0.000000,0.000000,0.000000,0.000000
25%,19054.000000,34.312874,-97.831977,1.142825e+04,54.000000,358.830000,0.000000,0.000000
50%,30067.000000,38.160798,-89.900575,2.626700e+04,196.000000,704.335000,3.000000,10.150000
75%,47038.000000,41.688491,-82.961755,6.675400e+04,689.000000,1393.115000,15.000000,31.065000
max,90056.000000,69.314792,-65.288130,1.009805e+07,226581.000000,16462.970000,23563.000000,398.360000

In [2]:
# print a summary of the data in Cases and Deaths by County
cases_and_deaths_by_county_data.describe()

,uid,fips_code,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_deaths,new_cases_per_100_000,new_deaths_per_100_000,new_cases_7_day_rolling_avg,new_deaths_7_day_rolling_avg
count,6.406440e+05,638674.000000,6.181860e+05,640644.000000,618186.000000,640644.000000,618186.000000,637392.000000,637392.000000,615048.000000,615048.000000,622800.000000,624135.000000
mean,8.403225e+07,32135.425355,1.029009e+05,413.652326,248.871296,19.519171,7.898393,7.535887,0.247868,5.280011,0.125749,7.596179,0.262687
std,1.789808e+04,17802.186102,3.552905e+05,3794.592830,593.420937,314.133793,23.031229,67.623934,5.614353,25.424309,1.149579,62.962349,4.581803
min,8.400100e+07,1001.000000,7.500000e+01,0.000000,0.000000,0.000000,0.000000,-2028.000000,-1868.000000,-2202.640000,-165.320000,0.000000,0.000000
25%,8.401905e+07,19043.000000,1.088800e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,8.403006e+07,30046.000000,2.571500e+04,6.000000,35.530000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.142857,0.000000
75%,8.404703e+07,47015.000000,6.694400e+04,78.000000,229.220000,2.000000,4.710000,1.000000,0.000000,3.730000,0.000000,1.857143,0.000000
max,8.410000e+07,99999.000000,1.009805e+07,226581.000000,16462.970000,23563.000000,398.360000,7837.000000,814.000000,9370.100000,168.070000,5214.142857,760.142857

In [3]:
# print a summary of the data in Cases and Deaths by State
cases_and_deaths_by_state_data.describe()

,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
count,1.024400e+04,11032.000000,10244.000000,11032.000000,10244.000000,10976.000000,10752.000000,10976.000000,10750.000000,10192.000000,10192.000000
mean,6.353127e+06,24090.179931,356.957177,1135.081762,15.463199,439.480412,434.212758,14.417547,14.582699,0.200701,6.382597
std,7.214623e+06,58634.754005,495.328196,3519.008307,29.547910,1180.467935,1134.552938,52.652624,50.754220,0.459596,9.332886
min,5.777370e+05,0.000000,0.000000,0.000000,0.000000,-140.000000,0.000000,-131.000000,0.000000,-0.990000,-4.640000
25%,1.792926e+06,2.000000,0.130000,0.000000,0.000000,0.000000,0.285714,0.000000,0.000000,0.000000,0.000000
50%,4.329558e+06,2252.000000,128.860000,57.000000,3.780000,62.000000,71.500000,1.000000,1.571429,0.050000,3.120000
75%,7.262632e+06,20572.250000,527.415000,673.250000,15.662500,411.250000,410.428571,10.000000,10.714286,0.210000,8.382500
max,3.955704e+07,530606.000000,2702.650000,32754.000000,178.000000,15300.000000,11870.000000,1081.000000,974.285714,7.130000,82.400000

In [4]:
# total population of all counties
total_population = country_level_data['total_population'].sum()
print(total_population)

325399523.0

In [8]:
# check NA values for all columns of country_level_data dataset
country_level_data.columns.isna().sum()

0

In [7]:
# check NA values for all columns of cases_and_deaths_by_county_data dataset
cases_and_deaths_by_county_data.isna().sum()

uid                                  0
location_type                        0
fips_code                         1970
location_name                      394
state                                0
date                                 0
total_population                 22458
cumulative_cases                     0
cumulative_cases_per_100_000     22458
cumulative_deaths                    0
cumulative_deaths_per_100_000    22458
new_cases                         3252
new_deaths                        3252
new_cases_per_100_000            25596
new_deaths_per_100_000           25596
new_cases_7_day_rolling_avg      17844
new_deaths_7_day_rolling_avg     16509
dtype: int64

In [6]:
# check NA values for all columns of cases_and_deaths_by_state_data dataset
cases_and_deaths_by_state_data.isna().sum()

state                              0
date                               0
total_population                 788
cumulative_cases                   0
cumulative_cases_per_100_000     788
cumulative_deaths                  0
cumulative_deaths_per_100_000    788
new_cases                         56
new_cases_7_day_rolling_avg      280
new_deaths                        56
new_deaths_7_day_rolling_avg     282
new_deaths_per_100_000           840
new_cases_per_100_000            840
dtype: int64